<!DOCTYPE html>

<html lang="en-us" >
<head>
	<title>Resultado</title>
	<link rel="stylesheet" type="text/css" href="/static/css/base.css" />
	<link rel="stylesheet" type="text/css" href="/static/css/login.css" />
</head>

<body>

    <!-- Header -->
    <div id="header">
        <div id="branding">       
	<img src="/static/images.jpg" border="1" width="50" height="40">
	</div>
        <div id="branding">       
	<h1 id="site-name">Actividades Derpotivas</h1>
	</div>
    </div>
    <!-- END Header -->

<center>
<div class="container">
  <br>
  <br>
  <h1><p>Resultado</p></h1>
  <hr>
	Error :  {{ mensaje }} 
</div>
</center>

<div>
<form method="Post" action="../log/">
    <div class="submit-row">
       <label>&nbsp;</label><input type="submit" value="Regresar" />
    </div>
</form>


	<center>
	<div id="footer">Copyright Actividades Deportivas</div>
	</center>


</div>
<!-- END Container -->

</body>
</html>



