<!DOCTYPE html>

<html lang="en-us" >
<head>
	<title>Estadio</title>
	<link rel="stylesheet" type="text/css" href="/static/css/base.css" />
	<link rel="stylesheet" type="text/css" href="/static/css/login.css" />
</head>

<body>

    <!-- Header -->
    <div id="header">
        <div id="branding">       
	<img src="/static/images.jpg" border="1" width="50" height="40">
	</div>
        <div id="branding">       
	<h1 id="site-name">Actividades Derpotivas</h1>
	</div>
    </div>
    <!-- END Header -->

    <h3>{{usuario.nombre}}</h3>

<center>
<div class="container">
  <br>
  <br>
  <h1><p>Eliminar Estadio</p></h1>
  <hr>


<form method="Post" action="../resultado_eea/">
    <input type="hidden" name="pag" value="1">
    <input type="hidden" name="us" value="{{usuario.pk}}">
        <div>
            Usuario
	       <select name="mat">
	          <option value="ninguno">ninguno</option>
	          {% for matricula in actividades %}
	          <option value="{{ matricula.pk }}"> {{ matricula.nombre }} </option>
	          {% endfor %}
	       </select> 
	</div>  
    <div>
       <label>&nbsp;</label><input type="submit" value="Eliminar" />
    </div>
</form>


</div>
</center>

<div>
<form method="Post" action="../principala/">
    <input type="hidden" name="pag" value="1">
    <input type="hidden" name="us" value="{{usuario.pk}}">

    <div class="submit-row">
       <label>&nbsp;</label><input type="submit" value="Regresar" />
    </div>
</form>


	<center>
	<div id="footer">Copyright Actividades Deportivas</div>
	</center>


</div>
<!-- END Container -->

</body>
</html>



