<!DOCTYPE html>

<html lang="en-us" >
<head>
<title>Actividad</title>
<link rel="stylesheet" type="text/css" href="/static/css/base.css" />
<link rel="stylesheet" type="text/css" href="/static/css/login.css" />

</head>


<body class=" login"
  data-admin-utc-offset="0">

<!-- Container -->
<div id="container">

    
    <!-- Header -->
    <div id="header">
        <div id="branding">
        
<h1 id="site-name">Ingresar Actividad</h1>

        </div>
        
        
    </div>
    <!-- END Header -->

    <!-- Content -->
    <div id="content" class="colM">

<div id="content-main">



<form method="Post" action="../resultado_iaa/" id="login-form">
  <input type="hidden" name="pag" value="1">
  <input type="hidden" name="us" value="{{usuario.pk}}">

 <div class="form-row">
    <label class="required" for="id_username">Descripcion:</label> <input id="id_username" maxlength="254" name="post_name" type="text" />
  </div>
  <div class="form-row">
    
    <label class="required" for="id_password">Precio:</label> <input id="id_password" name="post_pass" type="text" />
  </div>
  
	<select name="estadioo">
	  {% for estadio in estadios %}
	  <option value="{{ estadio.pk }}">{{ estadio.nombre }}</option>
	  {% endfor %}
	</select> 

  <div class="submit-row">
    <label>&nbsp;</label><input type="submit" value="Ingresar" />
  </div>
</form>

<script type="text/javascript">
document.getElementById('id_username').focus()
</script>
</div>

        
        <br class="clear" />
    </div>
    <!-- END Content -->

    <div id="footer">Copyright Actividades Deportivas</div>
</div>
<!-- END Container -->

</body>
</html>

