<!DOCTYPE html>

<html lang="en-us" >
<head>
	<title>Menu Administrador</title>
	<link rel="stylesheet" type="text/css" href="/static/css/base.css" />
	<link rel="stylesheet" type="text/css" href="/static/css/login.css" />
</head>

<body>
<div id="container">

    <!-- Header -->
    <div id="header">
        <div id="branding">       
	<img src="/static/images.jpg" border="1" width="50" height="40">
	</div>
        <div id="branding">       
	<h1 id="site-name">Actividades Derpotivas</h1>
	</div>
    </div>
    <!-- END Header -->

    <h3>{{usuario.nombre}}</h3>

    <!-- Content -->
    <div id="content" class="colM">
	<div id="content-main">
		<form method="Post" action="../iua/" id="login-form">
		    <input type="hidden" name="us" value="{{usuario.pk}}">
		    <input type="hidden" name="pag" value="0">
		    <div class="submit-row">
		    	<label>&nbsp;</label><input type="submit" value="Añadir Usuario" />
		    </div>
		</form>
		<form method="Post" action="../eua/" id="login-form">
		    <input type="hidden" name="us" value="{{usuario.pk}}">
		    <input type="hidden" name="pag" value="0">
		    <div class="submit-row">
		    	<label>&nbsp;</label><input type="submit" value="Eliminar Usuario" />
		    </div>
		</form>
		<form method="Post" action="../lua/" id="login-form">
		    <input type="hidden" name="us" value="{{usuario.pk}}">
		    <input type="hidden" name="pag" value="0">
		    <div class="submit-row">
		    	<label>&nbsp;</label><input type="submit" value="Listar Usurios" />
		    </div>
		</form>
		<form method="Post" action="../iea/" id="login-form">
		    <input type="hidden" name="us" value="{{usuario.pk}}">
		    <input type="hidden" name="pag" value="0">
		    <div class="submit-row">
		    	<label>&nbsp;</label><input type="submit" value="Añadir Estadio" />
		    </div>
		</form>
		<form method="Post" action="../eea/" id="login-form">
		    <input type="hidden" name="us" value="{{usuario.pk}}">
		    <input type="hidden" name="pag" value="0">
		    <div class="submit-row">
		    	<label>&nbsp;</label><input type="submit" value="Eliminar Estadio" />
		    </div>
		</form>
		<form method="Post" action="../lea/" id="login-form">
		    <input type="hidden" name="us" value="{{usuario.pk}}">
		    <input type="hidden" name="pag" value="0">
		    <div class="submit-row">
		    	<label>&nbsp;</label><input type="submit" value="Listar Estadio" />
		    </div>
		</form>
		<form method="Post" action="../iaa/" id="login-form">
		    <input type="hidden" name="us" value="{{usuario.pk}}">
		    <input type="hidden" name="pag" value="0">
		    <div class="submit-row">
		    	<label>&nbsp;</label><input type="submit" value="Añadir Actividad" />
		    </div>
		</form>
		<form method="Post" action="../eaa/" id="login-form">
		    <input type="hidden" name="us" value="{{usuario.pk}}">
		    <input type="hidden" name="pag" value="0">
		    <div class="submit-row">
		    	<label>&nbsp;</label><input type="submit" value="Eliminar Actividad" />
		    </div>
		</form>
		<form method="Post" action="../laa/" id="login-form">
		    <input type="hidden" name="us" value="{{usuario.pk}}">
		    <input type="hidden" name="pag" value="0">
		    <div class="submit-row">
		    	<label>&nbsp;</label><input type="submit" value="Listar Actividad" />
		    </div>
		</form>
	</div>

        <br class="clear" />
    </div>
    <!-- END Content -->

	<center>
	<a href="../loga/" > Salir <a>
	<div id="footer">Copyright Actividades Deportivas</div>
	</center>


</div>
<!-- END Container -->

</body>
</html>

